{% extends "base.html" %}
{% block body_block %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">  
            <h1>About Student DB</h1>    
            <br/> 
            This is a django app in progress that mimics a database for students. Development on this project began on June 4th 2023, and the app currently holds functionality to register courses, students, and assign grades for those students. These grades can be viewed for each student.
        </div>
    </div>
</div>
{% endblock %}